<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon/favicon(1)_io/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon(1)_io/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon(1)_io/favicon-16x16.png">
	<link rel="manifest" href="/favicon/favicon(1)_io/site.webmanifest">
	<meta name="description" content="The Best Blog on Earth!">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="css/home.css"> 
	<link rel="stylesheet" type="text/css" href="css/index.css">  
	<title>Top|Blog</title>
</head>

<body>
	
	<div class="sidenav">
		<a href="/"><figure><img src="images/onetech-logo.png"></figure></a>
		<a href="/allpost">Home</a>
		<a href="/allpost">Posts</a>
		<a href="/addtag">Tags</a>
		<a href="/addauthor">Authors</a>
		<a href="/addgenre">Genres</a>
		<a href="/add">Add Post</a>
	</div>
	
	<div class="welcome-message">
		<h2>Welcome to the Best|Blog 2019</h2>
		<p>Lorem ipsum dolor sit amet, te sit congue phaedrum, modo iudicabit pri id. Mazim elitr denique mei an, ius nobis mandamus cu. No pri equidem perfecto partiendo, an choro prodesset his. Vis ut quidam deserunt dignissim, in quot utinam eos.

			Id sit ponderum recteque, libris similique quaerendum an pri. Eum vero vitae explicari an, et has quis malis latine. Cum nostrud partiendo patrioque ut, ne eam graeco democritum persequeris, ei erant praesent duo. Melius constituam vim ex. Te his debitis conclusionemque, sonet consul quaerendum ei pri, noluisse hendrerit id eum. Sonet maluisset patrioque pro in, vel te simul accusamus consequuntur.

		Ex nec scribentur concludaturque, aliquip pertinacia an sea. No vix solet graeco, falli latine neglegentur an usu. Mei nihil quando ex, mei vivendo delicata in. Te vim voluptatum incorrupte. Usu nusquam quaerendum interpretaris ne. Iudico eruditi ut has, in quot aliquip qui.</p>
	</div>

</body>
</html> 