body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 5px;
}

.sidenav a {
  text-decoration: none;
  font-size: 55px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.welcome-message {
  margin-left: 160px; 
  padding: 0px 100px;

}

.welcome-message > p {
font-size: 25px;
}
.welcome-message > h2 {
font-size: 40px;
}

@media screen and (max-height: 500px) {
  .sidebar {padding-top: 10px;}
  .sidebar a {font-size: 10px;}
}